@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(94, 29, 114);
}
.wrapper{
    background-color: #ffffffb2;
    height: 200px;
    border-radius: 15px;
    padding: 1rem;
    transition:  height .2s ease;
    box-shadow: 0 1.2em 2.5em rgba(53, 129, 210, 0.18);
}
.wrapper.active{
    height: 450px;
}
header h1{
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
header p{
    margin-top: .5rem;
    font-size: 1rem;
    color: #474747;
}
.wrapper .form{
    margin-top: 1rem;
}
.form :where(input, button){
    width: 80%;
    padding: .5rem;
    margin-top: .5rem;
    border: 1.5px solid #0d6535;
    border-radius: 1.5rem;
    outline: none;
    justify-content: center;
}
.form input{
    font-size: 15px;
    padding: 0 10px;
    border: 1px solid hwb(133 16% 40%);
}
.form button{
    background-color: rgb(94, 29, 114);
    color: #bfffe1ce;
    font-size: 1rem;
    cursor: pointer;
    letter-spacing: 2.5px;
    transition: background-color .3s ease;
}

.wrapper .qr-code{
    display: flex;
    padding: 33px 0;
    opacity: 0;
    pointer-events: none;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    border: 1.5px solid #0d6535;
    margin: 10px;
}
.wrapper.active .qr-code{
    opacity: 1;
    pointer-events: all;
    transition: opacity .5s 0.05s ease;
}