@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(195, 0, 255);
}
.wrapper{
    background-color: #fff;
    height: 195px;
    border-radius: 15px;
    padding: 1rem;
    transition:  height .3s ease;
    box-shadow: 0 1.2em 2.5em rgba(253, 251, 251, 0.594);
}
.wrapper.active{
    height: 450px;
}
header h1{
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
header p{
    margin-top: .5rem;
    font-size: 1rem;
    color: #000000;
}
.wrapper .form{
    margin-top: 1rem;
}
.form :where(input, button){
    width: 100%;
    padding: .5rem;
    margin-top: .5rem;
    /* border: 1.5px solid #24ae62; */
    border-radius: 2rem;
    /* outline-color: rgb(145, 226, 14); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.form input{
    font-size: 15px;
    padding: 7px 10px;
    border: 1px solid hwb(66 4% 2%);
	outline-color: rgb(145, 226, 14);
}
.form button{
    background-color: rgb(143, 33, 177);
    color: #fffefe;
    font-size: 1rem;
    cursor: pointer;
    letter-spacing: 3.5px;
    transition: background-color .3s ease;
	border: none;
}
button:hover{
	background: linear-gradient(to left, #ca67bb, #e02cc5, #38bbdf, #0635a1);
}

.wrapper .qr-code{
    display: flex;
    padding: 18px 0;
    opacity: 0;
    pointer-events: none;
    border-radius: 2rem;
    justify-content: center;
    align-items: center;
    border: 1.5px solid #0d6535;
    margin: 20px;
}
.wrapper.active .qr-code{
    opacity: 1;
    pointer-events: all;
    transition: opacity .5s 0.05s ease;
}
.qr-code {
	display: flex;
	flex-direction: column;
}
.qr-code button {
    background-color: rgb(143, 33, 177);
    color: #fffefe;
    font-size: 1rem;
    cursor: pointer;
    letter-spacing: 1.5px;
    transition: background-color .3s ease;
    border: none;
    padding: 0.5rem;
    margin-top: 10px;
    border-radius: 0.5rem;
	border-radius: 20px;
}
.qr-code button:hover {
    background: linear-gradient(to left, #ca67bb, #e02cc5, #38bbdf, #0635a1);
}

.card {
	position: fixed;
	top: 10px;
	right: 10px;
	border: 1px solid #227c548b;
	padding: 20px;
	box-shadow: 0 0 1rem #d6d3d35a;
	border-radius: 7%;
	overflow: hidden;
	z-index: 1000;
	display: none;
	text-align: left;
	background: linear-gradient(to left, #ca67bb, #e02cc5, #38bbdf, #0635a1);
    height: 24vh;
    margin: 0;
}
#developer-card h2{
	color: white;
	text-decoration: none;

}

/* #developer-1-link a{
	color: white;
	text-decoration: none;
}  */
.developer a{
	font-size: 1rem;
	color: white;
	text-decoration: none;
	transition: text-decoration 0.3s ease, color 0.3s ease ;
} 
.developer a:hover{
	text-decoration: underline;
	cursor: pointer;
}
.hidden {
	display: none;
}
  
.visible {
	display: block;
}
.developer {
	margin-top: 1rem;
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
  
.developer-photo {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 10px;
}

.progress-bar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 5px;
	background-color: yellow;
	animation: progress 5s linear forwards;
}
  
@keyframes progress {
	from { width: 0; }
	to { width: 100%; }
}
/* media queries */
/* Media queries for tablet devices */
@media (max-width: 800px) {
    .container {
        padding: 9rem;
    }
    .info-display-div {
        width: 60rem;
        margin-top: 4rem;
    }
    .info-display-div .user-info {
        padding: 2rem;
    }
}

/* Media queries for mobile devices */
@media only screen and (max-width: 600px) {
	.container {
	  padding: 2rem;
	}
  
	.search-wrapper {
	  width: 100%;
	  margin-bottom: 1rem;
	}
  
	.input-username {
	  padding: .5rem 10rem .5rem 1.5rem;
	}
  
	.btn {
	  width: 10rem;
	  font-size: 1.2rem;
	}
  
	.info-display-div {
	  width: 100%;
	  margin-top: 2rem;
	  padding: 1rem;
	}
  
	.user-info {
	  padding: 1rem;
	}
  
	.repos .repo-details .items {
	  width: 100%;
	}
  
	.repo-name h3 {
	  font-size: 1rem;
	  margin-bottom: 1rem;
	}
  
	.visit-user a {
	  padding: 0.8rem;
	}
  
	.developer-photo {
	  width: 30px;
	  height: 30px;
	}
  
	.card {
	  position: fixed;
	  top: 18%;
	  left: 33%;
	  transform: translate(-25%, -25%);
	  width: 90%;
	  max-width: 300px;
	  animation: slideIn 5s forwards; /* Add animation for card sliding in */
	}
}